@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
  --bgColor: #223344;
  --bgColor2: #090a0f;
  --accentColor: #FFF;
  --font: 'Karla', sans-serif;
  --delay: .3s;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font);
  background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
  animation: 1s ease-out var(--delay) 1 transitionAnimation;
  animation-fill-mode: forwards;
  overflow: hidden;
}

/* Lightning effect */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('https://i.imgur.com/UTeVqHZ.gif') center center no-repeat;
  background-size: cover;
  opacity: 0;
  animation: lightning 3s infinite ease-in-out;
  z-index: -1;
}

@keyframes lightning {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
}

/* Layout for large screens: two columns */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  color: white;
   padding: 10px 20px;
  text-align: center;
  flex: 1;
  margin: 10px;
}

.box.large {
  flex: 2;
}

/* Estilo general para los enlaces en dispositivos móviles */
#links {
display: flex;
flex-direction: column;
align-items: center; /* Centra los enlaces horizontalmente */
}

#links a {
display: block;
width: 100%; /* Ocupa el ancho disponible del contenedor */
max-width: 350px; /* Establece un ancho máximo para los enlaces */
margin: 9px 0; /* Espacio entre los botones */
padding: 10px;
border: 2px solid var(--accentColor);
border-radius: 8px; /* Bordes redondeados */
text-align: center;
color: var(--accentColor);
text-decoration: none;
transition: background-color 0.3s, color 0.3s;
}

/* Efecto al pasar el cursor */
#links a:hover {
background-color: var(--accentColor);
color: var(--bgColor);
}

/* Estilo específico para pantallas pequeñas */
@media (max-width: 768px) {
#links {
  padding: 0 10px; /* Añade un poco de espacio en los lados del contenedor */
}
}


@media (max-width: 480px) {
  /* Stack boxes on top of each other on small screens */
  .container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin: 10px 0;
  }
}

#profilePicture, #profilePicture img {
  position: relative;
  width: 96px;
  height: 96px;
  display: block;
  margin: 40px auto 20px;
  border-radius: 50%;
}

#userName {
  color: var(--accentColor);
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

h2 {
  color: #FFF;
  text-align: center;
  padding: 0 10px;
}

.logos {
  font-size: 2rem;
  text-align: center;
  color: #FFF;
  padding: 10px 0;
}

.logos a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-right: 20px;
}

.logos a:hover {
  color: #ccc;
}


#hashtag {
  color: var(--accentColor);
  font-size: 1.5rem;
  text-align: center;
  background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/* Animations */
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes transitionAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
